.admin-panel-body-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #16171d;
    /* width: 100%; */
    /* gap: 2rem */
}

.admin-panel-body-div h1 {
    color: #fff;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.body-main-admin-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
    border-radius: 25px;
    overflow-y: scroll;
    width: 100%;
}

.admin-panel-body-div form.glb-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    gap: 1rem;
    padding: 1rem;
    background: #191c24;
    border-radius: 25px;
    height: 350px;
    width: 100%
}

.admin-icon-nav,
.admin-panel-body-div input[type=file] {
    display: none
}

.admin-panel-body-div label.file-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    /* padding: 1rem; */
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    -webkit-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
    height: 200px;
    /* width: 100%;
    max-width: 500px; */
    width: clamp(150px, 50vw, 400px);
    outline: #5167e3 dashed 2px
}

.admin-panel-body-div label:hover.file-label {
    background: rgba(63, 81, 181, .5);
    -webkit-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
    transition: .8s ease-in-out
}

.admin-panel-body-div button[type=submit] {
    padding: 0.8rem;
    background: #5167e3;
    color: #fff;
    border: 1px solid #5167e3;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
    width: clamp(150px, 4vw, 400px);
    font-size: clamp(0.5rem, 4vw, 0.8rem);
}

.admin-panel-body-div button[type=reset] {
    padding: 0.8rem;
    border: 1px solid #5167e3;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
    width: clamp(150px, 4vw, 400px);
    font-size: clamp(0.5rem, 4vw, 0.8rem);
}

.admin-panel-body-div button[type=submit]:hover {
    background: 0 0;
    -webkit-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
    transition: .8s ease-in-out
}

.admin-panel-body-div button[type=reset]:hover {
    background: #5167e3;
    -webkit-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
    transition: .8s ease-in-out
}

.admin-comp-cards-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    gap: 1rem;
    padding: 1rem;
    background: #191c24;
    border-radius: 25px;
    width: 100%;
    height: 350px;
}

.admin-comp-cards-div .admin-com-card-inside-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.admin-comp-cards-div .companion-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background: #272b38;
    border-radius: 12px;
    color: #fff;
    height: 280px;
}

.admin-comp-cards-div .companion-card .companion-card-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 25px;
    overflow: hidden
}

.admin-comp-cards-div .companion-card .companion-card-img img {
    width: 100%;
    /* aspect-ratio: 16/9; */
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.admin-comp-cards-div .companion-card .companion-card-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: clamp(0.5rem, 4vw, 0.8rem);
    border-radius: 25px
}

.GCP-form-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background: #191c24;
    border-radius: 25px;
    width: 100%;
    height: 350px;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3
}

.GCP-form-div form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: #191c24;
    border-radius: 25px;
    width: 100%
}

.GCP-form-div input[type="text"] {
    padding: 0.5rem;
    border-radius: 12px;
    width: 100%;
    background: #272b38;
}


.GCP-form-div form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: clamp(150px, 50vw, 400px)
}

.admin-menu-div {
    display: none;
}

@media screen and (max-width:1100px) {

    .body-main-admin-div {
        -ms-grid-columns: 1;
        grid-template-columns: 1;
    }

    .admin-panel-body-div form.glb-form {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 2;
        grid-column-end: 3;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }

    .admin-comp-cards-div {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 2;
        grid-column-end: 3;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
    }

    .GCP-form-div {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 2;
        grid-column-end: 3;
        -ms-grid-row: 3;
        grid-row-start: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 4;
    }
}



@media screen and (max-width: 768px) {
    .admin-icon-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    .admin-menu-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (max-width: 580px) {
    .admin-comp-cards-div .admin-com-card-inside-div {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .admin-panel-body-div label.file-label {
        width: clamp(100px, 50vw, 400px);
    }
}