.blogs-section {
    background: linear-gradient(180deg, rgba(0, 0, 0) 0, rgba(0, 0, 0, 0) 100%) center fixed, linear-gradient(0deg, rgba(0, 0, 0) 0, rgba(0, 0, 0, 0) 50%) center fixed, url("https://www.transparenttextures.com/patterns/axiom-pattern.png") center fixed;
    padding: 2rem 0
}

.blogs-heading {
    font-size: clamp(2rem, 4vw, 4rem);
    color: #fff;
    text-align: center
}

.article-card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    gap: 2rem;
    padding: 0 2rem;
    justify-content: center;
    align-items: center
}

.article-card {
    /* background: #191c24; */
    padding: 1rem;
    border-radius: 40px;
    transition: .3s ease-in-out;
    cursor: pointer
}

.article-card img {
    /* width: 100%; */
    /* max-width: 500px; */
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
    transition: .3s ease-in-out
}

.article-card p {
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: 400;
    color: #fff;
    margin-top: 1rem
}

@media screen and (max-width:768px) {
    .article-card-wrapper {
        grid-template-columns: repeat(1, 1fr)
    }
}

@media screen and (max-width:500px) {
    .article-card img {
        height: 200px
    }
}