.chat-main-body{
    height: 100vh;
    /* background: url('https://img.freepik.com/free-vector/retro-futuristic-landscape-universe-background_52683-18057.jpg'); */
    display: flex;
    justify-content: space-around;
    /* padding: 1rem 1rem 1rem 0; */
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.chat-main-body-voice-call{
    flex-direction: column;
}
/* 
aside{
    height: inherit;
    overflow: visible;
    z-index: 1;
}
 
aside img{
    max-width: 50%;
} */

.chat-div{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s;
    /* flex: 1 1 50%; */
    justify-content: space-between;
    overflow: hidden;
    /* flex-basis: 40%; */
    padding: 1rem;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.1);
    height: 90vh;
    width: 50%;
    position: relative;
}

.input-options{
    display: flex;
    gap: 1rem
}

.input-opt-toggle-btn{
    display: none;
}

.inp-opts{
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.6rem;
    right: 20%;
    top: 80vh;
    border-radius: 50px;
    gap: 1rem;
    color: white;
    z-index: 2;
}

.inp-opts button{
    display: none;
}

.body{
    max-width: 13rem;
    /* overflow: visible; */
    z-index: 1;
    display: flex;
    height: 80vh;
    width: 100%;
    /* position: fixed; */
    transition: all 1s ease-in-out;
}

.max-scrn-voice-call{
    filter: blur(5px);
    position: absolute;
    transition: all 1s ease-in-out;
}

.backg{
    height: 100vh;
    position: absolute;
    transition: all 5s ease-in-out;
}

.emoji-tag{
    position: absolute;
    bottom: 15%;
    z-index: 20;
    right: 2%;
    transition: all 5s ease-in-out;
}

@media screen and (max-width: 970px){
    .chat-main-body{
        padding: 0;
    }
    .chat-div{
        flex: 0 0 100%;
        backdrop-filter: blur(0px);
        flex-basis: 100%;
        backdrop-filter: blur(0px);
        background-color: transparent;
        border-radius: none;z-index: 2;
    }
    input[type="text"]{
        width: 100%;
        
    }
    /* aside{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    } */
    .body {
        position: absolute;
        bottom: 0;
        /* left: 0; */
        width: 100%;
    }
    .sm-voice-cen{
        /* bottom: auto; */
        filter: blur(5px);
        transition: all 0.5s;
        position: relative;
    }
    .sm-video-cen{
        filter: blur(0px);
        position: relative;
    }
}

@media screen and (max-width: 500px){
    .chat-main-body{
        padding: 0;
    }
    .chat-div{
        padding: 0.5rem;
        height: 100vh;
    }
    .input-options{
        display: none;
    }
    .input-opt-toggle-btn{
        display: flex;
    }
    .inp-opts{
        display: flex;
    }
    .inp-opts button{
        display: flex;
    }
    
    /* aside{
        z-index: 1;
        justify-self: flex-end;
        position: fixed;
        bottom: 0;

    } */
    /* .body{
        height: 40em;
    } */
}