.faq-section{
    padding-left: 8rem;
    padding-right: 8rem;
}

.faq-heading{
    font-size: clamp(2rem, 4vw, 3rem);
    /* font-weight: 00; */
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}

.MuiCollapse-wrapper{
    background-color: #000000;
    color: white;
}

.MuiSvgIcon-root{
    color: white;
}

.MuiButtonBase-root{
    color: white;
    border: none;
}

.css-1fderfv-MuiPaper-root-MuiAccordion-root{
    border: none;
}

@media screen and (max-width: 425px)
{
    .faq-section{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
}