.hero-section {
    /* padding-top: 5rem; */
    /* background: linear-gradient(to bottom, #000000a0 0%, #00000080 100%), url('https://images.unsplash.com/photo-1557683316-973673baf926?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover; */
    z-index: -1;
    background: transparent;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0)), url('./bg2.jpg');
    background-size: cover;
    background-position: center;
    padding: 4.2rem 0;
}

.hero-heading {
    font-size: clamp(2rem, 4vw, 3rem);
}

.discord-btn {
    /* background: linear-gradient(to right, #9019ff, rgb(17, 164, 255)); */
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: white;
    transition: all 0.5s ease-in-out;
    width: 250px;
}

.discord-btn:hover {
    background: linear-gradient(130deg, #f1356d, rgb(17, 164, 255));
    border: 1px solid #ffffff00;
}

.discord-btn .disc-icon {
    transition: all 0.5s ease-in-out;
}

.discord-btn:hover .disc-icon {
    scale: 1.2;
}

.create-btn {
    /* background-color: #092e31; */
    /* background: linear-gradient(to right, #9019ff, rgb(17, 164, 255)); */
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: white;
    transition: all 0.5s ease-in-out;
    border: 1px solid #ffffff00;
    width: 250px;
    border: 1px solid #ffffff;
}

.create-btn:hover {
    /* background: transparent; */
    border: 1px solid #ffffff;
}

.create-btn span {
    transition: all 0.5s ease-in-out;
}

.create-btn:hover span {
    transform: translateX(20px);
}

.hero-btns-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hr-div {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    /* padding: 0 1rem; */
    width: 100%;
    margin-top: 2rem;
}

hr {
    width: 100%;
    border: 1px solid #ffffff;
}

.hero-avatar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* max-width: 80vh; */
    height: 100%;
    max-height: 80vh;
    width: auto;
}

.phone-mockup {
    width: 100%;
    max-width: 800px;
    animation: float 6s ease-in-out infinite;
    z-index: -1;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.text-div {
    display: flex;
    text-align: left;
    align-items: flex-start;
}

.text-div h2 {
    font-size: clamp(2rem, 4vw, 3rem);
}

.text-div p {
    font-size: clamp(1rem, 4vw, 1rem);
}

@media screen and (max-width: 768px) {
    .hero-btns-div {
        flex-direction: column;
    }

    .hr-div {
        justify-content: center;
    }

    hr {
        width: 80%;
    }

    .text-div {
        text-align: center;
        align-items: center;
    }

}