.nav-element-div,
.navbar {
    display: flex;
    padding: .5rem 1rem
}

.login-btn,
.nav-element-div,
.navbar {
    padding: .5rem 1rem
}

.login-btn,
.nav-menu-icon {
    color: #fff;
    cursor: pointer
}

.login-btn,
.login-btn span {
    transition: .5s ease-in-out
}

.navbar {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: .5rem;
    left: 0;
    right: 0;
    z-index: 1
}

.nav-element-div {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    z-index: 1000;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border-radius: 200px;
    margin: 0 auto
}

.logo-div,
.nav-elem {
    justify-content: center;
    gap: .5rem;
    display: flex
}

.brand-logo {
    width: 100%;
    max-width: 50px;
    height: auto;
    border-radius: 100%;
    mix-blend-mode: multiply
}

.logo-div {
    align-items: center;
    color: #fff;
    font-size: clamp(1.5rem, 3vw, 2rem);
    white-space: nowrap
}

.nav-elem {
    align-items: center;
    text-decoration: none;
    cursor: pointer
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 40%
}

.nav-menu-icon {
    display: none;
    font-size: 1.5rem
}

.login-btn {
    border-radius: 200px;
    /* background: linear-gradient(270deg, #00b7a1 0, #ac20cf 97.5%); */
    border: 1px solid #fff;
    font-size: 1rem
}

.login-btn:hover span {
    transform: translateX(.5rem)
}

.login-btn:hover {
    /* background: linear-gradient(360deg, #ac20cf 0, #00b7a1 97.5%) */
    
}

.nav-links-phone {
    display: none
}

@media screen and (max-width:900px) {
    .nav-links-phone {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1.5rem;
        background-color: #000;
        border-radius: 20px;
        padding: 1rem;
        top: 4.5rem;
        right: 1rem;
        z-index: 1;
        transition: .5s ease-in-out;
        width: 100%;
        max-width: 200px
    }
}

@media screen and (max-width:768px) {
    .navbar {
        padding: 0;
        top: 0
    }

    .nav-element-div {
        width: 100%;
        padding: .5rem 1rem;
        border-radius: 0;
        top: 0
    }

    .nav-elem,
    .nav-links {
        display: none
    }

    .nav-menu-icon {
        display: flex
    }
}