.settings-main-div {
    background-image: url("../assets/login-half-img.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem
}