.signup-main-div {
    background-image: url("../assets/login-half-img.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.signup-main-div .signup-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 0.5rem;
}

.signup-main-div input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
}

.signup-main-div button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .signup-main-div {
        padding: 0 1rem;
    }
    .signup-main-div .signup-card {
        padding: 15px;
    }
}